body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

#wrapper {
  padding-left: 0;
  padding-right: 0;
}

.content {
  min-height: calc(90vh - 103.5px);
  /* margin: 20px 0; */
  position: relative;
}

.content-details {
  /* background: #ccc; */
}

#footer {
  clear: both;
  background: #2F4F4F;
  height: 50px;
}

#footer p {
  color: #fff;
  padding-top: 10px;
}
