
.menu {
  padding-left: 0 !important;
  min-height: calc(100vh - 200px);
  /* background: #00BFFF; */
  border-right: 1px solid #2F4F4F;
}

#menu-left {
  /* background: #169f85; */
  padding-top: 30px;
}

#menu-left ul > li {
  text-align: left;
  padding-bottom: 10px;
}

#menu-left ul > li > a {
  color: #333;
}

#menu-left ul > li > i {
  margin-right: 5px;
}
